* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  color: black;
  background-color: white;
  font-family: "Roboto Slab", serif;
}

.header nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

nav h1 {
  font-size: 2.3rem;
}

nav p {
  font-size: 1.3rem;
}

nav span {
  color: red;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.form-field {
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field input {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border: 1px solid grey;
}

.form-field button {
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
  outline: hidden;
  color: white;
  background-color: rgb(0, 110, 255);
}

.lyrics-card {
  padding: 2rem;
  border: 1px solid rgb(223, 217, 217);
  margin: 2rem;
  height: 1500px;
}

.lyrics-card h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 1rem;
}

.lyrics-card p {
  font-size: 1.1rem;
  line-height: 3rem;
  font-style: italic;
  margin: 2.5rem 3rem;
}

footer {
  margin: 2rem 0 0;
  width: 100%;
  color: white;
  padding: 2rem;
  background-color: black;
}
footer p {
  text-align: center;
}
